*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'EB Garamond', serif;
}

body{
    /*Se usa flex para ocupar el 100% del viewport*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}

    /* línea separadora visual de dos títulos */
    #separator, #separator_2{
        background-color: rgb(100, 100, 241);
        width: 70px;
        padding: 2px;
        height: 2px;
        margin: 10px 10px;
        position: relative;
    }

/* ------------------------------------------- */

/* Encabezado */

.nav_bar{
    /* min-height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

#logo{
    font-size: 1.1rem;
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
    .nav_item{
        list-style: none;
    }
    
        .nav_link, #logo{
            text-decoration: none;
            padding: 3vh 5px;
            color: black;
            transition: 0.7s ease;
        }

            .nav_link:hover{
                color: rgb(190, 165, 118);
                font-weight: bold;
            }

        .pag_activa{
            color: rgb(190, 165, 118);
        }

    .hamburger{
        display: none;
        cursor: pointer;
    }

        .bar{
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            background-color: black;
        }

/* ------------------------------------------- */

/* pie de página */
footer{
    padding: 20px 0;
    display: grid;
    grid-template-columns: 5fr auto auto auto;
    background-color: white;
    text-align: center;
    align-items: center;
    grid-template-rows: 20px 20px;
    column-gap: 20px;
    row-gap: 5px;
}

    /* Adaptar la primer columna */
    .footer_start{
        padding: 0 0 0 2vw;
        text-align: left;
    }

    /* Adaptar la última columna */
    .footer_end{
        padding: 0 2vw 0 0;
    }

    .footer_link{
        font-weight: 100;
        color: black;
    }
    
    .fa {
        text-decoration: none;
        color: black; 
        font-size: large;

    }
    
    .fa:hover, .footer_link:hover{
        color: rgb(190, 165, 118);
    }

/* ------------------------------------------- */

/* Display flex para dividir header, footer y cuerpo principal */
.contact, .knowledge, .experience, .about_me{
    flex: 3 1 auto; /* Para que sea la sección ppal en tamaño */
    z-index: -100;
}

/*Cuerpo de la página inicial*/
.about_me{
    padding: 0;
    position: relative;
}
    
    /* Genera parte de la pantalla con otro color */
    #half_background{
        position: absolute;
        top: 0px;
        left: 55%;
        width: 45%;
        height: 100%;
        background-color: rgb(228, 201, 151);
        z-index: -10;
    }

    .introduction{
        margin-top: 10vh;
        display: flex;
        align-items: center;
        padding: 2vw;
        justify-content: center;
    }

        /* tamaño de las cajas de introducción */
        .introduction_photo, .introduction_text{
            height: 500px;
            width: 350px;
        }
    
        .introduction_text{
            background-color: white;
            border-radius: 6px;
            display: grid;
            grid-template-rows: 95px 1fr 5fr;
            align-items: center;
        }

            .introduction_text > *{
                padding: 10px
            }
            
            .introduction_text h1, .introduction_text-buttons{
                text-align: center;
                margin: 15px;
            }

            .introduction_text h1{
                font-size: xx-large;
            }

            .introduction_text #separator{
                margin: 10px auto;
            }
                
            .a_button{
                width: 150px;
                background-color: rgb(100, 100, 241);
                color: white;
                font-weight: bold;
                font-size: large;
                padding: 10px;
                border: none;
                border-radius: 100px;
                cursor: pointer;
                justify-self: end;
                margin: 20px;
            }
            

        .introduction_photo{
            background-color: rgb(235, 215, 179);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
            .introduction_photo > * {
                padding: 0 10px 10px;
            }

            .introduction_photo img{
                border-radius: 40px;
                padding: 20px 10px;
            }

/* ------------------------------------------- */

/* Fondo de las páginas menos index */
.contact, .knowledge, .experience{
    background-color: rgb(228, 201, 151);
}


/* Configuración de página de contacto */
    .contact h2{
        margin-top: 5vh;
        text-align: center;
    }

        .contact h2:before {
            content: " ";
            display: inline-block;
            position: relative;
            top: -1px;
            margin: 0 5px 0 0;
            width: 10px;
            height: 10px;
            border: 2px solid rgb(100, 100, 241);
            background-color: rgb(100, 100, 241);
        }

    .contact_form{
        margin: 20px auto;
        padding: 20px 2vw;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        max-width: 600px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 25px 50px 25px 50px 25px auto;
        column-gap: 5px;
        row-gap: 5px;
        align-items: center;
        text-align: start;
        

    }

        .contact_form input[type="text"], .contact_form input[type="email"], .contact_form textarea{
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-color: rgb(100, 100, 241);
            border-width: 2px;
            height: 30px;
            margin: 0 20px 20px 20px;
        }
        
        .contact_form input:focus, .contact_form textarea:focus{
            border-color: rgb(233, 60, 60);
            outline-width: 0;
        }
        
        .contact_form-radio{
            margin: 20px 20px 20px;
        }

            .contact_form-radio label{
                padding: 0 20px 0px 5px;
            }

            .contact_form-radio input[type="radio"]{
                opacity: 0;
                width: 0;
            }

                .contact_form-radio label:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 1px;
                    margin: 0 5px 0 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 11px;
                    border: 2px solid rgb(100, 100, 241);
                    background-color: transparent;
                }

                .contact_form-radio input[type="radio"]:checked + label:before {
                    display: inline-block;
                    position: relative;
                    top: 1px;
                    margin: 0 5px 0 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 11px;
                    border: 2px solid rgb(100, 100, 241);
                    background-color: rgb(100, 100, 241);
                }

        .contact_form-message{
            grid-column-end: span 2;
        }

        .contact_form textarea{
            width: 95%;
            height: 100px;
        }

        .contact_form-submit{
            grid-column-start: 2;
        }
        
        .contact_form input[type="submit"]{
            width: 150px;
            background-color: rgb(100, 100, 241);
            color: white;
            font-weight: bold;
            font-size: large;
            padding: 10px;
            border: none;
            border-radius: 100px;
            cursor: pointer;
            justify-self: end;
            margin-right: 20px;
        }

        input[type="submit"]:hover{
            background-color: rgb(233, 60, 60);
        }

/* ------------------------------------------- */

/* Configuración de la página experiencias laborales e inicio de conocimientos */
.experience, .knowledge{
    box-sizing: border-box;
    display: grid;
    justify-content: center;
}

.experience{
    grid-template-columns: 340px auto;
}
    
    .experience aside, .timeline{
        height: 80%;
    }

    /*configuración de barra lateral */
    aside{
        background-color: white;
        position: relative;
        margin: auto;
        border-radius: 6px;
        display: grid;
        align-items: center;
    }

    .experience aside{
        margin-right: 0;
        grid-template-rows: 40px 12fr 25px 40px 10fr;
        grid-template-areas: "summary_title" "summary" "separator" "reference_title" "reference";
    }

    /* asignación de nombres a las celdas */
    .summary_title{
        grid-area: summary_title;
    }

    .summary{
        grid-area: summary;
    }

    .reference_title{
        grid-area: reference_title;
    }

    .reference{
        grid-area: reference;
    }

    .experience aside #separator{
        grid-area: separator;
    }

        /*arreglos de caja leves*/
        aside h3{
            padding: 10px;
        }

        aside p, .experience_introduction iframe, aside ul{
            padding: 10px 10px;
        }

        aside ul li{
            margin-left: 20px;
            padding: 5px;
        }

        .experience_introduction iframe{
            margin: 0 auto;
        }

        .experience_introduction ul li a{
            padding: 5px;
        }

    /*contenedor de la timeline y cada experiencia*/
    .timeline{
        position: relative;
        margin: auto 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1500px;        
    }
    
        /* La línea de la timeline*/
        .timeline::after{
            content: '';
            position: absolute;
            height: 6px;
            border-radius: 6px;
            background-color: white;
            top: 50%;
            left: 0;
            right: 0;
        }

    /* Conenedor de cada experiencia*/
    .container, .studies{
        position: relative;
        box-sizing: border-box;
        display: grid;
    } 

    .container{
        padding: 5px 10px;
        height: 50%;
        grid-template-columns: 30% 40% 5fr; 
        grid-template-rows: 100%;
    }

        .container_second{
            margin-top: 20px;
            padding: 10px;
            grid-template-columns: 30% 25% 5fr 1fr;
        }

    /* Las experiencias en si mismas y los tipos de estudios*/
    .content, .academic, .courses{
        padding: 10px 15px;
        margin: 0 10px;
        background-color: white;
        position: relative;
        border-radius: 6px;
        box-sizing: border-box;
        display: grid;
    }

    .content{
        grid-template-rows: 25px 25px 1fr 3fr;
        align-items: center;
        row-gap: 5px;
        height: fit-content;
    }

        .content_first{
            align-self: flex-end;
            margin-bottom: 10px;
        }
        
        .content_second{
            margin-top: 10px;
        }

        #responsable_area{
            grid-template-rows: 25px 25px 1fr 2fr;
        }
    /* Los señaladores de la timeline */
        .content::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            bottom: -45px;
            background-color: white;
            border: 4px solid rgb(100, 100, 241);
            left: 70%;
            border-radius: 50%;
            z-index: 1;
            transform: rotate(45deg);
        }
        
            /* Mover el señalador del segundo contenedor a antes del mismo */
            .content_second::after {
                top: -43px;
                border-bottom-right-radius: 0px;
            }

            /*corrección de círculo por superposición/mismo año*/
            #co_coordinador::after, #coordinador_general::after{
                display: none;
            }
            
            #responsable_area::after{
                left: 10%;
            }

            /*darles forma a los señaladores*/
            #responsable_area::after, #coordinador_sicon:after{
                border-top-left-radius: 0px;
            }

            #analista::after{
                left: 30%;
                border-top-left-radius: 0px;
            }

/* ------------------------------------------- */

/* diferencias de configuración de la página conocimientos */
.knowledge{
    grid-template-columns: auto 320px;
}
            
    .knowledge aside{
        margin: 10px;
        padding: 10px;
        height: max-content;
        grid-template-rows: 35px auto 15px 35px auto 15px 35px auto;
        grid-template-areas: "title1" "text1" "separator" "title2" "text2" "separator2" "title3" "text3";
    }    
    
    /* asignación de nombres a las celdas */
    #hard_skills{
        grid-area: title1;
    }
    
    #hard_skills-list{
        grid-area: text1;
    }
    
    .knowledge aside #separator{
        grid-area: separator;
    }

    #soft_skills{
        grid-area: title2;
    }
    
    #soft_skills-list{
        grid-area: text2;
    }
    
    .knowledge aside #separator_22{
        grid-area: separator2;
    }
    
    #languages{
        grid-area: title3;
    }
    
    #languages-list{
        grid-area: text3;
    }

    /*arreglos de caja leves*/
    
    .knowledge aside ul li{
        padding: 0px 5px;
    }

    .studies{
        height: 95%;
        grid-template-columns: auto; 
        row-gap: 10px;
        margin: 10px;
        padding-top: 0;
    }

    .studies span{
        display: block;
        margin: 5px 0 10px 15px;
    }

    /* Barras de progreso de conocimiento */
    .progress{

        height: 10px;
        width: 100%;
        border: 1px solid black;
    }

    .progress>*{
        height: 10px;
        background-color: rgb(100, 100, 241);
        z-index: 1;
    }

        .excel{
            width: 80%;
        }

        .html, .css{
            width: 25%;
        }
        
        .java, .js{
            width: 15%;
        }

        .spanish{
            width: 100%;
        }

        .english{
            width: 60%;
        }


/* ------------------------------------------- */

@media screen and (max-width: 1200px){
    
    .experience aside, .timeline{
        height: max-content;
    }
    
        /*configuración de barra lateral */
        .experience aside{
            grid-template-rows: 70px auto 200px 40px auto;
            row-gap: 10px;
            padding-top: 20px;
            margin: 10px 10px;
        }

        /*contenedor de la timeline y cada experiencia*/
        .timeline{
            margin: 0 auto;
            flex-direction: row;
            /* justify-content: space-between; */      
        }
        
            /* La línea de la timeline*/
            .timeline::after{
                height: 100%;
                width: 6px;
                border-radius: 0px;
                top: 0px;
                left: 50%;
                right: auto;
            }
    
        /* Conenedor de cada experiencia*/
        .container {
            padding: 10px 5px;
            height: auto;
            width: 50%;
            grid-template-columns: auto; 
            grid-template-rows: auto;
            align-items: flex-start;
            row-gap: 10px;
        } 

            .container_second{
                margin-top: 0px;
            }
            
        .content{
            margin: 0 20px;
        }
            
            .content_first{
                align-self: flex-start;
                margin-bottom: 0px;
                margin-right: 15px;
            }
            
            .content_second{
                margin-top: 0px;
                margin-bottom: 10px;
            }

        /* Los señaladores de la timeline */
            .content::after {
                bottom: 0%;
                top: 70%;
                left: -38px;
                transform: rotate(-45deg);
            }
            
                /* Mover el señalador del segundo contenedor a antes del mismo */
                .content_second::after {
                    /* top: 0px; */
                    right: -53px;
                }
    
                #responsable_area::after{
                    left: -38px;
                    top: 10%;
                }
    
                #analista::after{
                    left: 101.5%;
                    top: 10%;
                }

    .knowledge aside{
        grid-template-rows: 40px auto 25px 40px auto 25px 40px auto;
    }   
}

@media only screen and (max-width: 900px){
    .experience, .knowledge{
        grid-template-columns: auto;
    }
    
        /*configuración de barra lateral */
        .experience aside{
            margin: 10px 20px;
            grid-template-rows: 40px auto;
            grid-template-columns: auto auto;
            grid-template-areas: "summary_title reference_title"
                                 "summary       reference"
                                 "separator     separator";
            align-items: flex-start;
            row-gap: 0;
            column-gap: 10px;
            height: 100%;
            padding-top: 0;
        }

        aside{
            padding-top: 0;
        }

        .summary_title, .reference_title, .summary, .reference{
            background-color: white;
            border-radius: 6px;
            padding: 10px 10px;
            margin: 10px;
        }

        aside #separator{
            margin: 10px auto;
            grid-column: 1 / span 2;
            display: none;
        }
   
            .experience_introduction iframe{
                display: none;
            }

            .experience_introduction .reference:after{
                content: 'Paraguay 3014 - CABA';
                margin-left: 50px;
            }

        .timeline{
            padding-top: 20px;
        }

        .timeline::after{
            border-radius: 6px;
            top: 20px;
        }

    .studies{
        margin: 0;
    }

        .studies:nth-child(1) {
            order: 2;
        }

    .knowledge aside{
    grid-template-rows: 40px auto 15px 35px auto;
    grid-template-columns: auto auto;
    grid-template-areas: "title1    title2" 
                            "text1     text2"
                            "separator_2 text2"
                            "title3    text2"
                            "text3     text2";
    
                        } 

    #separator_2{
        margin: auto;
    }
}    

@media only screen and (max-width: 700px){
    /* Cambia el menú nav a uno desplegable */
    .hamburger{
        display: block;
        z-index: 100;
      }
    
        .hamburger.active .bar:nth-child(2){
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        .hamburger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
        
        .nav_menu{
            position: fixed;
            right: -100%;
            top: 70px;
            gap: 0;
            flex-direction: column;
            background-color: white;
            width: 50%;
            text-align: center;
            transition: 0.3s;
        }
        
        .nav_item{
            margin: 16px 0;
        }
        
        .nav_menu.active{
            right: 0;
        } 
    
    /*Cambia tamaños para que se siga viendo todo correctamente*/
    footer{
        grid-template-columns: 5fr auto auto auto;
        column-gap: 5px;
    }
    .footer_start{
        font-size: medium;
    }
    
    /*Cambiar ubicación de foto y texto introductorio a vertical*/
    .introduction{
        margin-top: 10px;
        flex-direction: column-reverse;
    }

        .introduction_text{
            width: 100%;
        }
        .introduction_photo{
            min-width: 80%;
        }
}